{{ if not .Params.hide }}
<section class='program-open-space-day-1 {{ $.Params.background }} {{ printf "%s" ((partial "background.html" .) | replaceRE "\\s+" "") }}'>
    <a class="anchor" id="program-open-space-day-1"></a>
    <div class="section-header pb-3">
        <h2 class="mb-0">{{ .Title }}</h2>
        {{ with .Content }}<div class="section-description">{{ . }}</div>{{ end }}
    </div>
    <div class="container py-9 py-lg-11 position-relative z-index-1">
        {{ $image := .Resources.Get "timetable-open-space-day-1.jpeg" }}
        {{ if $image }}
        <img src="{{ $image.RelPermalink }}" alt="Timetable Open Space Day 1" class="img-fluid">
        {{ end }}
    </div>
</section>
{{ end }}
